{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Catalogue d'exercices</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Caveat:wght@600&family=Courgette&family=Cuprum:wght@500&family=Montserrat:wght@500&family=Roboto&display=swap" rel="stylesheet">
  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="page-header">
      <div class="wrapper col1">
        <div id="topbar">
          <div id="search">
            <form action="#" method="post">
              <fieldset>
                <input type="text" value="Rechercher un exercice&hellip;"  onfocus="this.value=(this.value=='Rechercher un exercice&hellip;')? '' : this.value ;" />
                <input type="submit" name="go" id="go" value="Recherche" />
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <h1><a href="/">ExoCpp</a></h1>
      <h5>Le site d'exercices de la Prépa des INP de Grenoble</h5>
      <!--<div class="annee">
        <p><a href="/">1A</a>
        <a href="/">2A</a></p>
      </div>-->
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
            <!--<p><h4><a href="{% url 'home' %}">Maths</a></h4></p>
            <p><h4><a href="{% url 'home' %}">Physique</a></h4></p>
            <p><h4><a href="{% url 'home' %}">Chimie</a></h4></p>-->
          <ul>
            {% block sidebar %}
              <li><h4><a href="{% url 'home' %}">Accueil</a></h4></li>
              <li><h4><a href="{% url 'exercices' %}">Tous les exercices</a></h4></li>
            {% endblock %}
            <li><h4><a href="#">1A</a></h4>
              <ul>
                <li><p><h4><a href="#">Maths</a></h4></p>
            <div class="liste-chap">
              <ul>
                <li><a href="#">Logique</a></li>
                <li><a href="#">Analyse</a></li>
                <li><a href="#">Suites</a></li>
              </ul>
            </div></li>
                <li><p><h4><a href="#">Physique</a></h4></p>
                <div class="liste-chap">
                  <ul>
                    <li><a href="#">CE1</a></li>
                    <li><a href="#">Méca1</a></li>
                    <li><a href="#">Thermo1</a></li>
                  </ul>
                </div></li>
                <li><p><h4><a href="#">Chimie</a></h4></p>
            <div class="liste-chap">
              <ul>
                <li><a href="#">Chimie Théorique</a></li>
                <li><a href="#">Chimie des solutions</a></li>
                <li><a href="#">Chimie Organique I</a></li>
              </ul>
            </div></li>
              </ul>
              </li>
            <li><h4><a href="#">2A</a></h4>
              <ul>
                <li><p><h4><a href="#">Maths</a></h4></p>
            <div class="liste-chap">
              <ul>
                <li><a href="#">Courbes paramétrées</a></li>
                <li><a href="#">Intégrales généralisées</a></li>
                <li><a href="#">Réduction des endomorphismes</a></li>
              </ul>
            </div></li>
                <li><p><h4><a href="#">Physique</a></h4></p>
                <div class="liste-chap">
                  <ul>
                    <li><a href="#">TTT</a></li>
                    <li><a href="#">POM</a></li>
                  </ul>
                </div></li>
                <li><p><h4><a href="#">Chimie</a></h4></p>
            <div class="liste-chap">
              <ul>
                <li><a href="#">Thermo/Cinétique II</a></li>
                <li><a href="#">Chimie Organique II</a></li>
              </ul>
            </div></li>
              </ul>
              </li>       
          </ul>
          <!--<p><h4><a href="#">Maths</a></h4></p>
            <div class="liste-chap">
              <ul>
                <li><a href="#">Courbes paramétrées</a></li>
                <li><a href="#">Intégrales généralisées</a></li>
                <li><a href="#">Réduction des endomorphismes</a></li>
              </ul>
            </div>
          <p><h4><a href="#">Physique</a></h4></p>
          <p><h4><a href="#">Chimie</a></h4></p>-->
      </div>
         <div class="col-sm-10 ">
             {% block content %}
             {% endblock %}
             {% block pagination %}
                {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">précédent</a>
                            {% endif %}
                            <span class="page-current">
                                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
                            </span>
                            {% if page_obj.has_next %}
                                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">suivant</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
              {% endblock %} 
         </div>
    </div>
  </div>
</body>
</html>