{% extends "base_generic.html" %}
{% load static %}

{% block content %}
  <h1>Liste des exercices</h1>
  {% if exercice_list %}
  <ul>
    {% for exercice in exercice_list %}
      <li>
        <a href="{{ exercice.get_absolute_url }}">{{ exercice.nom }}</a> ({{exercice.chapitre.nom }})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>Il n'y a pas d'exercices dans le catalogue.</p>
  {% endif %} 
{% endblock %}